* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #777;
    background-color: beige;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
.foot{
    font-size: 87.5%;
    border-top: 1px solid #000;
    margin-top: 0em;
    padding: 1.1429em;
    background: #fafafa;
}

/* The pop up for a new group*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#multi-role,input{
    width: 70%;
    padding: 4px 12px;
}

/* Modal Content */
.modal-content {
    border-radius: 1em;
  background-color: #e6ecdd;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 40%;
  
}

#mylogo{
  height: 1em;
  width: 1em;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: auto;
}

.sidebar {
    background: rgb(13, 150, 66);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
    padding-top:0.5rem;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}
#main{
    background-color: #fff;
    width: 100%;
    display: inline-block;
    align-content: center;
    align-items: center;
    position: relative;
    border: 5px;
  }

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: rgb(7, 7, 7);
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media(min-width: 48em){
    .foot{
        width: 100%;
        height: auto;
      }
    .content{
        padding: 2em 10em 10em;
    }

    .header {
        text-align: center;
        top: auto;
        padding: 2em ;
        margin: auto;


    }
    #main{
        width:100%;
        height:auto;

      }
}
@media(max-width:480px)
{
    .header{
        text-align: left;
        padding-left : 1rem;
    }
    .brand-tagline{
        padding-top: 1.5rem; ;
    }
}

.myButton {
	background-color:#0E76BD;
	border-radius:2rem;
	border:1px solid #0E76BD;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 0.8;
	padding:0.3rem 0.5rem;
    text-decoration:none;
}