/* The sidebar menu */
html {
  height: 100%;
}

body {
  height: 100%;
}

#topic_head {
  color: white;
}

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Stay on top */
  bottom: 0;
  left: 0;
  background-color: #393e46;
  overflow-x: hidden;
  /* Disable horizontal scroll */

  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  margin-top: 10px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 22px;
  cursor: pointer;
  /*background-color: #d6d4c7;*/
  background-color: rgb(76, 175, 80);
  color: #393e46;
  padding: 11px 18px;
  border: none;
  color: white;
}

.openbtn:hover {
  background-color: gray;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.search-but {

  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

.search-bar {
  width: 20%;
  margin-right: 15rem;
  margin-top: 7px;
  padding-top: 10px;
  float: right;
  position: fixed;
  border: none;
  border-radius: 5px;
  background-color: white;
  /*border: 2px solid #393e46; */
}

body {

  background: #eee;
}

.ql-toolbar.ql-snow {

  display: none;
}


.contacts li>.info-combo>h3.name {
  font-size: 14px;
}

.contacts li .message-time {
  text-align: right;
  display: block;
  margin-left: -15px;
  width: 70px;
  height: 25px;
  line-height: 28px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 5px;
}

.contacts li>.info-combo>h5 {
  width: 200px;
  font-size: 14px;
  height: 30px;
  font-weight: 500;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.contacts li>.info-combo>h3 {
  width: 100%;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-combo>h3 {
  /*margin: 3px 0;*/
}

.no-margin-bottom {
  margin-bottom: 0 !important;
  margin-top:14px;
}

.info-combo>h5 {
  margin: 2px 0 6px 0;
}

/* Messages */
.messages-panel img.img-circle {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.medium-image {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

.img-circle {
  border-radius: 50%;
  margin-top: -62px;
    /* margin: -35px 2px; */
    margin-left: -15px;
    /*margin-right: 10px;*/
    margin-bottom: -20px;
}

.messages-panel {
  width: 100%;
   height: 100%; 
  /* min-height: 460px; */
  background-color: #fbfcff;
  display: inline-block;
  border-top-left-radius: 5px;
  /* margin-bottom: -5px; */
  border: none;
}

.messages-panel img.img-circle {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.messages-panel .tab-content {
  border: none;
  background-color: transparent;
  height: 100%;
}

.contacts-list {
  position: fixed;
  background-color: #fff;
  border-right: 1px solid #cfdbe2;
  width: 325px;
  height: 100%;
  border-top-left-radius: 5px;
  float: left;
  /* overflow-y: overlay; */
  height:100%
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 4px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 5px;
  background: rgba(32, 104, 82, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(36, 117, 47, 0.4); 
}

/* .chat-footer .attach{
    width: 70px;
    height: 70px;
    color: #777;
    background: #FFF;
    float: left;
}

.chat-footer .replyMessage{
  width: calc(100% - 220px);
  float: left;
  height: 70px;
  padding: 0px 8px;
  font-size: 16px;
}

.chat-footer .otherTools .toolButtons {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: #FFF;
  color: #888;
  border-radius: 100%;
} */

* THE REPLY BAR CSS */

.replyBar {
	width: 75%;
  height: 70px;
  /* bottom: 0; */
	float: left;
  background: #fff;
  /* position:fixed; */
}

.replyBar .replyBtn {
	width: 70px;
	height: 70px;
  color: #777;
	background: #FFF;
	float: left;
}

.replyBar .replyBtn:hover {
  color: #555;
	background: #DDD;
}

.replyBar .d45 {
	transform: rotate(45deg);
	font-size: 32px;
}

.replyBar .replyMessage {
	width: calc(100% - 150px);
	float: left;
	height: 70px;
	padding: 0px 8px;
	font-size: 16px;
}

.replyBar .otherTools {
	float: right;
	width: 70px;
	height: 70px;
}

.toolButtons{
  width: 60px;
	height: 60px;
	margin-top: 5px;
	background: #FFF;
	color: #888;
	border-radius: 100%;
}

.toolButtons:hover {
	color: #555;
	background: #DDD;
}
.reply_function{
  cursor:pointer;
  color: #bdc2c5;
  padding: 5px;
}
.reply_function:hover{
  color:grey;
}

.contacts-list .inbox-categories {
  width: 100%;
  padding: 0;
  margin-left: 0;
}

.contacts-list .inbox-categories>div {
  float: left;
  width: 76px;
  padding: 15px 5px;
  font-size: 14px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  font-weight: 700;
}

.contacts-list .inbox-categories>div:nth-child(1) {
  color: #2da9e9;
  border-right-color: rgba(45, 129, 233, 0.06);
  border-bottom: 4px solid rgb(76, 175, 80);
  border-top-left-radius: 5px;
}

.contacts-list .inbox-categories>div:nth-child(1).active {
  float: right;
  color: #fff;
  background-color: rgb(76, 175, 80);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(2) {
  color: rgb(76, 175, 80);
  border-right-color: rgba(14, 200, 162, 0.06);
  border-bottom: 4px solid rgb(76, 175, 80);
}

.contacts-list .inbox-categories>div:nth-child(2).active {
  color: #fff;
  background-color: rgb(76, 175, 80);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(3) {
  color: #ff9e2a;
  border-right-color: rgba(255, 152, 14, 0.06);
  border-bottom: 4px solid #ff9e2a;
}

.contacts-list .inbox-categories>div:nth-child(3).active {
  color: #fff;
  background-color: #ff9e2a;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.contacts-list .inbox-categories>div:nth-child(4) {
  color: #314557;
  border-bottom: 4px solid #314557;
  border-right-color: transparent;
}

.contacts-list .inbox-categories>div:nth-child(4).active {
  color: #fff;
  background-color: #314557;
  border-bottom: 4px solid rgba(0, 0, 0, 0.35);
}

.contacts-list .panel-search>input {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.panel-search-form{
  margin:8px;
}
.contacts-outter-wrapper {
  position: relative;
  /* width: 305px;
  direction: rtl;
  min-height: 405px; */
  overflow: hidden;
  padding: 2px;
}
.im_dialogs_search {
  position: relative;
}

 .input-icons i { 
            position: absolute; 
        } 
 .input-icons { 
      width: 100%; 
      margin-bottom: 10px; 
  } 
  .icon { 
      padding: 10px; 
      color: green; 
      min-width: 50px; 
      text-align: center; 
  } 

  .input-field { 
    width: 100%; 
    padding-left: 40px; 
  } 

/*.contacts-outter-wrapper:after,
.contacts-outter-wrapper:nth-child(1):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: rgb(76, 175, 80);
  border-bottom-left-radius: 4px;
}

.contacts-outter-wrapper:nth-child(2):after {
  background-color: rgb(76, 175, 80);
}

.contacts-outter-wrapper:nth-child(3):after {
  background-color: #ff9e2a;
}

.contacts-outter-wrapper:nth-child(4):after {
  background-color: #314557;
}
*/
.contacts-outter {
  position: relative;
  height: calc(105vh - 135px);
  /* width: 325px; */
  direction: ltr;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color:rgb(62, 119, 62) rgb(239, 240, 239);
  /* padding-left: 20px; */
}
.project-list{
  padding-right: 9px;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  @media {
    .contacts-outter-wrapper {
      direction: ltr;
    }

    .contacts-outter {
      direction: ltr;
      padding-left: 0;
    }
  }
}

.contacts {
  direction: ltr;
  /*width: 305px;*/
  margin-top: 0px;
}

.contacts li {
  width: 100%;
  /*border-top: 1px solid transparent;*/
  /*border-bottom: 1px solid rgba(205, 211, 237, 0.2);*/
  border-left: 4px solid rgba(255, 255, 255, 0);
  /*padding: 8px 12px;*/
  /*padding: 0px 10px;*/
  padding-right: 5px;
  padding-left: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.contacts li:first-child {
  border-top: 1px solid rgba(205, 211, 237, 0.2);
}

.contacts li:first-child.active {
  /*border-top: 1px solid rgba(205, 211, 237, 0.75);*/
}

.contacts li:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.contacts li.active,
.contacts.info li.active {
  /*border-right: 5px solid rgb(76, 175, 80);*/
  /*border-top-color: rgba(205, 211, 237, 0.75);*/
  border-bottom-color: rgba(205, 211, 237, 0.75);
  background-color: #66666626;
}

.contacts.success li.active {
  border-left: 4px solid rgb(76, 175, 80);
}

.contacts.warning li.active {
  border-left: 4px solid #ff9e2a;
}

.contacts.danger li.active {
  border-left: 4px solid #f95858;
}

.contacts.dark li.active {
  border-left: 4px solid #314557;
}

.contacts li>.info-combo {
  width: 172px;
  cursor: pointer;
}

.contacts li>.info-combo>h3 {
  width: 210px;
  /*width: calc(100vw - 70vw);*/
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contacts li .contacts-add {
  width: 50px;
  float: right;
  z-index: 23299;
}

.contacts li .message-time {
  text-align: right;
  display: block;
  margin-left: 26px;
  width: 30px;
  height: 15px;
  color:grey;
  line-height: 11px;
  font-size: 11px;
  font-weight: 200;
  padding-right: 5px;
  margin-top: 6px;
}

.contacts li .contacts-add .fa-trash-o {
  position: absolute;
  font-size: 14px;
  right: 28px;
  bottom: 4px;
  color: #a6a6a6;
  cursor: pointer;
}

.contacts li .contacts-add .fa-share-alt {
  position: absolute;
  font-size: 14px;
  right: 45px;
  bottom: 4px;
  color: #a6a6a6;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .contacts li .contacts-add .fa-trash-o {
    position: absolute;
    font-size: 12px;
    right: 32px;
    bottom: 6px;
    color: #a6a6a6;
    cursor: pointer;
  }

  .contacts li .contacts-add .fa-share-alt {
    position: absolute;
    font-size: 12px;
    right: 48px;
    bottom: 6px;
    color: #a6a6a6;
    cursor: pointer;
  }
}

.contacts li .contacts-add .fa-trash-o:hover {
  color: #f95858;
}

.contacts li .contacts-add .fa-share-alt:hover {
  color: #ff9e2a;

}

.contacts li>.info-combo>h5 {
  width: 198px;
  font-size: 13px;
  height: 16px;
  font-weight: 500;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.contacts #holder6 li>.info-combo>h5 {
  width: 198px;
  font-size: 13px;
  height: 28px;
  font-weight: 500;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.contacts li .message-count {
  position: absolute;
/*  top: 8px;
  left: 5px;*/
  top:38px;
  right:0px;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  background-color: #4CAF50;
  border-radius: 50%;
  color: #FFF;
  font-weight: 600;
  font-size: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 40px;
}

@media screen and (max-width: 767px){
 .contacts li .message-count {
  top:33px;
  right:1px;
  width: 23px;
  height: 23px;
  line-height: 22px;
  text-align: center;
  background-color: #4CAF50;
  border-radius: 50%;
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  align-content: center;
  text-align: center;
  }
}


.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.message-body {
  /* background-color: #fbfcff; */
  height: 100%;
  width: calc(100% - 325px);
  float: right;
  
}

.message-body .message-top {
  display: inline-block;
  width: 75%;
  position:fixed;
  top: 0;
  /* overflow:hidden; */
  z-index: 1;
  min-height: 53px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .message-body .message-top {
    display: inline-block;
    width: 100%;
    position:fixed;
    top: 0;
    /* overflow:hidden; */
    z-index: 1;
    min-height: 53px;
    height: auto;
  } 
}

.message-body {
  background-color: #fff;
  border-bottom: 1px solid rgba(205, 211, 237, 0.5);
}

.message-top {
  background-color: #4CAF50;
/*  border-bottom: 1px solid black;*/

}

.message-body .message-top .new-message-wrapper {
  width: 100%;
}

.message-body .message-top .new-message-wrapper>.form-group {
  width: 100%;
  padding: 10px 10px 0 10px;
  height: 50px;
}

.message-body .message-top .new-message-wrapper .form-group .form-control {
  width: calc(100% - 50px);
  float: left;
}

.message-body .message-top .new-message-wrapper .form-group a {
  width: 40px;
  padding: 6px 6px 6px 6px;
  text-align: center;
  display: block;
  float: right;
  margin: 0;
}

.message-body .message-top>.btn {
  height: 53px;
  line-height: 53px;
  padding: 0 20px;
  float: right;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  font-size: 15px;
  opacity: 0.9;
}

.message-body .message-top>.btn:hover,
.message-body .message-top>.btn:focus,
.message-body .message-top>.btn.active {
  opacity: 1;
}

.message-body .message-top>.btn>i {
  margin-right: 5px;
  font-size: 18px;
}

.new-message-wrapper {
  position: absolute;
  max-height: 400px;
  top: 53px;
  background-color: #fff;
  z-index: 105;
  padding: 20px 15px 30px 15px;
  border-bottom: 1px solid #cfdbe2;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  display: none;
}

.new-message-wrapper.closed {
  opacity: 0;
  max-height: 0;
}

.chat-footer.new-message-textarea {
  display: block;
  position: relative;
  padding: 0 10px;
}

.chat-footer.edit {
  display: block;
  position: relative;
  padding: 0 10px;
}

.chat-footer.new-message-textarea .send-message-button {
  right: 35px;
}

.chat-footer.new-message-textarea .upload-file {
  right: 85px;
}

.chat-footer.new-message-textarea .send-message-text {

  height: 50px;
}

.message-chat {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  /* margin-bottom: 50px; */
}


@media screen and (max-width: 767px) {
  .message-chat {
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
    /* margin-bottom: 50px; */
  }
}


.chat-body {
  width: calc(100% + 17px);
  /* min-height: 290px; */
  /* height: 83vh; */
  background-color: #fbfcff;
  margin-bottom: 10px;
  padding: 10px 5px 5px 5px;
  /* overflow-y: scroll; */
}

.message {
  position: relative;
  width: 100%;
}

.message br {
  clear: both;
}

.message .message-body {
  position: relative;
  width: auto;
  max-width: calc(100% - 150px);
  float: left;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #4CAF50;
  margin: 0 5px 20px 15px;
  color: rgb(46, 43, 43);
}

/*.message:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 63px;
  float: left;
  z-index: 100;
  border-top: 10px solid transparent;
  border-left: none;
  border-bottom: 10px solid transparent;
  border-right: 13px solid #fff;
}

.message:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 62px;
  float: left;
  z-index: 99;
  border-top: 11px solid transparent;
  border-left: none;
  border-bottom: 11px solid transparent;
  border-right: 13px solid #dbe3e8;
}*/

.message .medium-image {
  float: left;
  margin-left: 10px;
}

.message .message-info {
  width: 100%;
  height: 22px;
  color:#6b6d6e;
  padding: 2px 6px;
}

.message .message-info>h5>i {
  font-size: 11px;
  font-weight: 700;
  margin: 0 2px 0 0;
  color: #6d6f70;
}

.message .message-info>h5 {
  color: #656869;
  margin: 8px 0 0 0;
  font-size: 12px;
  float: right;
  padding-right: 10px;
}

.message .message-info>h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 7px 13px 0 10px;
  color: rgb(76, 175, 80);
  float: left;
}

.message hr {
  margin: 4px 2%;
  width: 96%;
  opacity: 0.75;
}

.message .message-text {
  text-align: left;
  padding: 0px 10px;
  font-size: 14px;
  word-break: break-word;
  word-wrap: break-word;
    /*line-height: 150%;*/
    /*white-space: pre-wrap;*/
}

.message.my-message .message-body {
  /*float: right;*/
  /*margin: 0 15px 20px 5px;*/
  background: #2b2a270a;
}

/*.message.my-message:after {
  content: "";
  position: absolute;
  top: 11px;
  left: auto;
  right: 63px;
  float: left;
  z-index: 100;
  border-top: 10px solid transparent;
  border-left: 13px solid #fff;
  border-bottom: 10px solid transparent;
  border-right: none;
}

.message.my-message:before {
  content: "";
  position: absolute;
  top: 10px;
  left: auto;
  right: 62px;
  float: left;
  z-index: 99;
  border-top: 11px solid transparent;
  border-left: 13px solid #dbe3e8;
  border-bottom: 11px solid transparent;
  border-right: none;
}*/

.message.my-message .medium-image {
  float: right;
  margin-left: 5px;
  margin-right: 10px;
}

.message.my-message .message-info>h5 {
  float: left;
  padding-left: 10px;
  padding-right: 0;
}

.message.my-message .message-info>h4 {
  float: right;
}

.message.info .message-body {
  /* background-color: #F5F5F5; */
  border: 1px solid rgb(76, 175, 80);
  font-weight: 400;
  color: rgb(46, 43, 43);
  font-family: 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

.message.info:after,
.message.info:before {
  border-right: 13px solid rgb(76, 175, 80);
}

.message.success .message-body {
  background-color: rgb(76, 175, 80);
  border: 1px solid rgb(76, 175, 80);
  color: #fff;
}

.message.success:after,
.message.success:before {
  border-right: 13px solid rgb(76, 175, 80);
}

.message.warning .message-body {
  background-color: #ff9e2a;
  border: 1px solid #ff9e2a;
  color: #fff;
}

.message.warning:after,
.message.warning:before {
  border-right: 13px solid #ff9e2a;
}

.message.danger .message-body {
  background-color: #f95858;
  border: 1px solid #f95858;
  color: #fff;
}

.message.danger:after,
.message.danger:before {
  border-right: 13px solid #f95858;
}

.message.dark .message-body {
  background-color: #314557;
  border: 1px solid #314557;
  color: #fff;
}

.message.dark:after,
.message.dark:before {
  border-right: 13px solid #314557;
}

.message.info .message-info>h4,
.message.success .message-info>h4,
.message.warning .message-info>h4,
.message.danger .message-info>h4,
.message.dark .message-info>h4 {
  color: #fff;
}

.message.info .message-info>h5,
.message.info .message-info>h5>i,
.message.success .message-info>h5,
.message.success .message-info>h5>i,
.message.warning .message-info>h5,
.message.warning .message-info>h5>i,
.message.danger .message-info>h5,
.message.danger .message-info>h5>i,
.message.dark .message-info>h5,
.message.dark .message-info>h5>i {
  color: #fff;
  opacity: 0.9;
}

.chat-footer {

  position: fixed;
  margin-left: 50px;
  margin-right: 20px;
  width: 70%;
  height: 7vh;
  padding: 0px;
  bottom: 10px;
  background-color: white;
  border: 1px solid black;
  z-index: 100;
}

.chat-footer .send-message-text {
  position: relative;
  margin-top: 1px;
  display: block;
  width: 100%;
  min-height: 55px;
  max-height: 75px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 95px 5px 10px;
  font-size: 13px;
  resize: vertical;
  outline: none;
  border: 1px solid #e0e6eb;
}

.chat-footer .send-message-button {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0px;
  top: 0;
  bottom: 50px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline: none;
  font-weight: 600;
  border-radius: 50%;
  padding: 0;
}

.chat-footer .send-message-button>i {
  font-size: 16px;
  margin: 0 0 0 -2px;
}

.chat-footer label.upload-file input[type="file"] {
  position: fixed;
  top: -1000px;
}

.chat-footer .upload-file {
  display: block;
  position: absolute;
  right: 150px;
  height: 30px;
  font-size: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.25;
}

.chat-footer .upload-file:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .messages-panel {
    min-width: 0;
    display: inline-block;
  }

  .contacts-list,
  .contacts-list .inbox-categories>div:nth-child(4) {
    border-top-right-radius: 5px;
    border-right: none;
  }

  .contacts-list,
  .contacts-outter-wrapper,
  .contacts-outter,
  .contacts {
    width: 100%;
    direction: ltr;
    padding-left: 0;
    background-color: #fff;
  }

  .contacts-list .inbox-categories>div {
    width: 25%;
  }

  .message-body {
    width: 100%;
    margin: auto;
    border: 1px solid #dce2e9;
    background-color: #fff;
  }

  .message .message-body {
    max-width: calc(100% - 85px);
  }

  .message-body .chat-body {
    background-color: #fff;
    width: 100%;
  }

  .chat-footer {
    margin-bottom: 20px;
    padding: 0 20px;
    height: 7vh;
  }

  .chat-footer .send-message-button {
    right: 0px;
    bottom: 0px;
  }

  .chat-footer .upload-file {
    right: 90px;
  }

  .message-body .message-top>.btn {
    border-radius: 0;
    width: 100%;
  }

/*  .contacts-add {
    display: none;
  }*/
}

/* Profile page */

.profile-main {
  background-color: #fff;
  border: 1px solid #dce2e9;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
}

.profile-main .profile-background {
  background-image: url('../images/samples/forest.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 260px;
}

.profile-main .profile-info {
  width: calc(100% - 380px);
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  height: 70px;
  border-radius: 0 0 3px 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-main .profile-info>div {
  margin: 0 10px;
}

.profile-main .profile-info>div:last-child {
  padding-right: 25px;
}

.profile-main .profile-info>div h4 {
  font-size: 16px;
  margin-bottom: 0;
}

.profile-main .profile-info>div h5 {
  margin-top: 5px;
  font-weight: 500;
}

.profile-main .profile-button {
  padding: 8px 0;
  position: absolute;
  right: 25px;
  bottom: 16px;
  width: 150px;
}

.profile-main .profile-picture {
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  position: absolute;
  left: 25px;
  bottom: 14px;
}

@media screen and (max-width: 767px) {

  .profile-main .profile-info .profile-status,
  .profile-main .profile-info .profile-posts,
  .profile-main .profile-info .profile-date {
    display: none;
  }
}

.contacts li>.info-combo {
  display: inline-block;
}

@media screen and (max-width: 758px) {
  .search-bar {
    margin-top: 10px;
    float: right;

  }
}

@media (max-width: 1000px) {
  .search-bar {
    width: 21%;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .search-bar {
    width: 20%;
    margin-left: 0;
  }

}

@media (max-width: 545px) {
  .search-bar {
    width: 19%;
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .left {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .right {
    display: none;
  }


}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: fixed;
  /*width: 30%;*/
  z-index: 1000;
}

._right {
  float: right;
}


@media (min-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

div.edit {
  width: 100%;
  display: inline-block;
  flex: 1;
  padding: 10px;
  max-height: 50%;
  background: white;
  overflow-y: scroll;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
  font-size: 17px;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-placeholder)
}



pre {
  white-space: pre-line;
  word-wrap: break-word;
  text-align: justify;
}

span {
  display: none;
}

.closes {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.emoji {
  height: 1em;
  width: 1em;
}

li {
  display: block;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  /* overflow: auto; */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(230, 236, 221);
  margin: auto;
  ;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
  }
}


input,
textarea[name="desc"] {
  width: 70%;

}

.btn {

  padding: 12px 18px;
}

.active_ {
  background-color: #4CAF50;
  color: white;
}

#back_ {
  display: none;
  font-size: 0.9em;
}

#on_but {
  margin-top: 10px;
}

.button-secondary {
  background: rgb(28, 184, 65);
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 7px 11px;
  font-weight: bold;


  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.head_ {
  font-size: 2em;
  margin: .67em 0;
  display: block;
  color: rgb(119, 119, 119);
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
  background-color: rgb(92, 184, 92);
  color: white;
}

.message-text li {
  display: list-item;
}

.active-tab {
  background-color: dimgrey;
}
.menu-btn {
  background-color: rgb(76, 175, 80);
  color: white;
  /*border-radius: 5px;*/
  width: 100%;
  font-weight: bold;
  padding: 1em 2em;
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

.dropdown-menu_ {
  /*margin-left: 50px;*/
  width: calc(100%);
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #017575;
  min-width: 100%;
  z-index: 1;
}

.links {
  color: rgb(255, 255, 255);
  padding: 6px 10px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  /*border-bottom: 1px solid black;*/
}

.links:hover {
  background-color: rgb(8, 107, 46);
}

.dropdown-menu:hover .menu-btn {
  background-color: #3e8e41;
}

svg {
  height: 0px;
}

.meta {
  height: 0px;
}

.fa-heart {
   color: red;
}
.fa-heart:hover {
   color: orange;
}

.im_diaglog_search{
  margin-bottom: -7px;
  margin-left: 2px;
}

#load_more_topics{
  margin-left: 30%;
}

@media screen and (max-width: 761px) {

.contacts li {
  padding-right:20px;
  padding-left: 14px;
}

}

.dropdown-content1{
  margin-left: 14px;
  margin-right: 14px;
}
.dropdown-content2{
  margin-left: 10px;
  margin-right: 8px;
}
.dropdown-content3{
  margin-left: 12px;
  margin-right: 14px;
}

.share_btn{
  float: right;
  cursor: pointer;
}

.reply_function{
 float: right; 
}

.msg_datetime {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  float: right;
  padding-right: 10px;
}
.like_div{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  float: right;
  padding-right: 10px;
}