
  /* Create two unequal columns that floats next to each other */
  body{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }


  .row{
    height: 95%;
  }
  .column {
    float: left;
    height: 95%;
    margin:0;
  }

  .left {
    display: inline-block;
    z-index: 0;
    width: 30%;
    height: 95%;
    background-color: #f5f5dc;
    position:absolute;
    left:0;
    bottom: 0;
    padding-left: 0;
    margin-top: 0;
  }

  .right {
    z-index: 0;
    position: absolute;
    display: inline-block;
    background-color: white;
    /*background: linear-gradient(180deg,  #2EC4B6, #9EB1E9);  #3b3e49;*/
    height: 95%;
    bottom: 0;
    right:0;
    width: 70%;
  }

  div.edit {
    width:90%;
    display:inline-block;
      min-height: 25px;
      background: grey;
      border-radius: 5px;
      outline: none;
        margin-bottom: 5px;
      font-size: 17px;
  }
  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder) }
.footer{
  position: fixed;
  bottom:0;
  display: inline-block;
  width: 70%;
  background-color: #f5f5dc;
}
.attachmentbtn{
  background-color: #f5f5dc;
  border: none;
  outline: none;
}
.fa-paperclip{
  color: #393e46;
}
.text-area{
  resize:none;
  display:inline-block;
  border : none;
	width:60%;
	height:25px;
	border-radius: 5px;
	font-size:17px;
  outline: none;
  margin-top: 6px;
  background-color: #f5f5dc;
}


  /* The sidebar menu */
.sidebar {
  height: 95%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  bottom: 0;
  left: 0;
  background-color: #393e46;
  overflow-x: hidden; /* Disable horizontal scroll */

  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  margin-top: 10px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f5f5dc;
  color: #393e46;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #ececae;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.search-bar{
  width: 23%;
  margin-left:1rem;
  margin-top: 7px;
  padding-top: 10px;
  float: right;
  position: fixed;
  border: none;
  border-radius: 5px;
  background-color: white;
  /*border: 2px solid #393e46; */
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #393e46;
  opacity: 1; /* Firefox */
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #393e46;
  opacity: 1; /* Firefox */
}
input[type=text]{
  color: #393e46;
  outline: none;
}
.header{
  position:fixed;
  width: 30%;
}
@media screen and (max-width: 758px){
  .search-bar{
    margin-top: 10px;
  float: right;

  }
}
@media (max-width: 1000px)
{ .search-bar{
  width:21%;
  margin-left: 0;
}
}
@media (max-width: 600px)
{ .search-bar{
  width:20%;
  margin-left: 0;
}
}
@media (max-width: 545px)
{ .search-bar{
  width:19%;
  margin-left: 0;
}
}
@media (max-width: 450px)
{
  .left{
    width: 100%;
  }
  .search-bar{
    width: 80%;
  }
  .right{
    display: none;
  }
}
