body {
  color: #777;
  background-color: beige;
  align-content: center;
  align-self: center;
  text-align: center;
}

#mylogo{
  height: 1em;
  width: 1em;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#nav {
  margin-bottom:  10px;
} 

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  display: inline-block;
    margin: auto;
    padding: 10px;
    width:80%;
    align-content: center;
    align-items: center;
    text-align: center;
}
#main{
  background-color: #fff;
  margin: auto;
  width: 80%;
  display: inline-block;
  align-content: center;
  align-items: center;
  position: relative;
  border: 5px;
  border-radius: 30px;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    left: 0;
    width: 80%;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #111;
     width: 90%;
     text-align: center;
     border-bottom: 1px solid #000;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #111;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

        .foot{
            font-size: 87.5%;
            border-top: 1px solid #000;
            padding: 1.1429em;
            width: 90%;
        }
        #content{
          align-content: center;
          width: 50%;
          margin-bottom: 0em;
          color: black;
          text-align: left;
        }
        #Form{
          background: #fafafa;
          display: inline-block;
          width:100%;
          align-self: center;
          margin-top: 3em;
          margin-bottom: 3em;
          padding: 10px;
          color: black;
          border-radius: 10px;
        }
        .logo{
          width: 20rem;
          height:3rem;
        }
        .hidden{
          display: none;
        }
        #Login{
          margin-bottom: 5em;
        }
/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (max-width: 64em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    .header,
    .content {
        display: inline-block;
        width: 80%;
        height: auto;
    }
    .header h1 {
        margin: 0.2em 0;
        font-size: 2em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #111;
        padding: 0;
        margin-top: 0;
        font-size: 1.5em;
    }
    #layout {
        position: relative;
        margin: auto;
        display: inline-block;
        text-align: center;
        width: 80%;
        height: auto;
    }
    #main{
      width:100%;
      height:auto;
    }
    .logo{
      width: 100%;
      height:auto;
    }
    .foot{
      width: 80%;
      height: auto;
    }
}
